<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TES Classify | Classificator</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <h2><a href="/">TES Classify</a></h2>
            <nav>
                <a href="/classificator">Классификатор</a> | <a href="/library">Библиотека</a>
            </nav>
	</header>
        <h1>Проверка текста</h1>
        <form action="#" th:action="@{/classificator}" th:object="${classificatorForm}" method="post">
            <div>
                <textarea type="text" th:field="*{text}" style="height: 400px; width: 80%; resize: none;"></textarea>
            </div>
            <div>
                <input type="submit" value="Проверить"/>
            </div>
        </form>
    </body>
</html>
