<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TES Classify | Classificator</title>
        <meta charset="UTF-8">
        <style>
            @font-face {
                font-family: tes;
                src: url(/tes.ttf);
            }
        </style>
    </head>
    <body background="/1.jpg">
        <header>
            <h2><a style="color:#000000; font-family: tes" href="/">TES Classify</a></h2>
            <nav>
                <a style="color:#000000; font-family: tes" href="/classificator">Классификатор</a> | <a style="color:#000000; font-family: tes" href="/library">Библиотека</a>
            </nav>
	</header>
        <h1 style="color:#000000; font-family: tes">Проверьте, чтобы поле для текста не было пустым</h1>
    </body>
</html>
