<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TES Classify | Library</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <h2><a href="/">TES Classify</a></h2>
            <nav>
                <a href="/classificator">Классификатор</a> | <a href="/library">Библиотека</a>
            </nav>
	</header>
        <div>
            <h1>Библиотека статей</h1>
            <h3>Разделы:</h3>
            <li th:each="textClassName : ${textClassNames}">
                <a th:href="@{'/library/section/' + ${textClassName.className}}" th:text="${textClassName.rusName}"></a>
            </li>
        </div>
    </body>
</html>
